NEXT_PUBLIC_API_KEY=TVhYVwr3hmq-65g4QhIPgeOsU2pu6rS5
NEXT_PUBLIC_PROVIDER=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_7/TVhYVwr3hmq-65g4QhIPgeOsU2pu6rS5
NEXT_PUBLIC_STARK_SWIRL_CONTRACT_ADDRESS=0x00435d210d4afab620521a93d94bacdb7d9608f68e99d4d75106a9df1814dfdc