@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
}
.tabs ul li a {
  color: #94febf;
  font-weight: 700;
  position: relative;
  z-index: 1;
  border: solid #aa0030;
  border-width: 1px 1px 0;
  background-color: #1f0e14;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  padding: 0.68rem 1.25rem;
  align-items: center;
  border-bottom: 0 solid #393939;
  color: #eee;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: 0.5em 1em;
  vertical-align: top;
}

.tabs ul li:first-child a {
  margin-right: 1.75rem;
  border-top-left-radius: 4px;
  border-right-width: 0;
  padding-left: 1.75rem;
}
.tabs ul li a:after,
.tabs ul li a:before {
  position: absolute;
  background-color: #1f0e12;
  transform-origin: bottom left;
  width: 1.5rem;
  border: solid #aa0030;
  border-width: 1px 1px 0;
  top: -1px;
  bottom: 0;
  transition: background-color 0.15s ease-in-out;
}

.tabs ul li:first-child a:after {
  content: "";
  right: -1.5rem;
  transform: skewX(20deg);
  border-left: none;
  border-top-right-radius: 5px;
  transition: background-color 0.15s ease-in-out;
}

.tabs ul li:last-child a:before {
  position: absolute;
  background-color: #1f0e14;
  transform-origin: bottom left;
  width: 1.5rem;
  border: solid #aa0030;
  border-width: 1px 1px 0;
  top: -1px;
  bottom: 0;
  transition: background-color 0.15s ease-in-out;
  content: "";
  left: -1.5rem;
  transform: skewX(-20deg);
  border-right: none;
  border-top-left-radius: 5px;
}

.tabs ul li:first-child a:hover:after {
  --tw-bg-opacity: 1;
  background-color: rgb(162 0 48 / var(--tw-bg-opacity));
}
.tabs ul li:last-child a:hover:before {
  --tw-bg-opacity: 1;
  background-color: rgb(162 0 48 / var(--tw-bg-opacity));
}
.tabs ul li:first-child a.active:after {
  --tw-bg-opacity: 1;
  background-color: rgb(162 0 48 / var(--tw-bg-opacity));
}
.tabs ul li:last-child a.active:before {
  --tw-bg-opacity: 1;
  background-color: rgb(162 0 48 / var(--tw-bg-opacity));
}
.content {
  display: none;
  height: 100%;
  width: 100%;
}
.active-content {
  display: block;
}
.tabs ul li a.active {
  --tw-bg-opacity: 1;
  background-color: rgb(162 0 48 / var(--tw-bg-opacity));
}
.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
}
.notification.main-notification .media {
  align-items: center;
}
.message .media,
.notification .media {
  padding-top: 0;
  border: 0;
}
.notification.main-notification.is-warning {
  background-color: #000403;
  color: #eee;
  border-color: #ff8a00;
}
.notification.is-warning {
  background-color: #ff8a00;
  color: #fff;
}
.notification.main-notification .media .media-left {
  position: relative;
  align-self: stretch;
  display: inline-flex;
  align-items: center;
}
.media-left {
  margin-right: 1rem;
}
.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.notification.main-notification.is-warning .media .media-left:after {
  background-color: #1a1203;
  border-right: 1px solid #ff8a00;
}
.notification.main-notification .media .media-left:after {
  content: "";
  position: absolute;
  transform: skewX(20deg);
  background-color: #1d1d1d;
  border-right: 1px solid #393939;
  top: -1px;
  bottom: -1px;
  border-top-right-radius: 2px;
  left: -50%;
  right: -0.2rem;
}
